{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
<h1 class="title-index-projet">List of your projects</h1>
<div class="container">
    <div class="row">
        {% for projet in projets %}
        {% for  membre in projet.membres %}
        {% if membre == app.user %}
        <div class="col-md-4 card projet-tab">
            <a href="{{ path('projet_show', {'id': projet.id }) }}" class="">
                <div class="">
                    <div class="projet-nom">{{ projet.name }}</div>
                    <div class="membres">
                        {% for  membre in projet.membres %}{{ membre.email }}
                        {% if loop.last %} {% else %} </br>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div>
                        {{ include('projet/_delete_form.html.twig') }}
                        <a href="{{ path('projet_edit', {'id': projet.id}) }}">Edit</a>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <a href="{{ path('projet_new') }}" class="col-md-4 addnew">
            <img src="{{ asset('icons/baseline-add-24px.svg') }}" class="addnew-image" alt="">
        </a>
    </div>
</div>

{% endblock %}