{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>{{ projet.name }}</h1>
    <div class="container">
        <div class="row">
            {% for tableau in projet.tableaux %}
                <div class="card col-md-4 ">
                    <div class="card-body">
                        <div class="tableau-name card-title">
                            {{ tableau.name }}
                        </div>
                        <div class="card-text">
                            {% for tache in tableau.taches %}
                                <div class="card">
                                    <div class="card-tache-name">
                                        {{ tache.name }}
                                    </div>
                                    <div class="card-tache-personne">
                                        assigné à {{ tache.assignedto }}
                                    </div>
                                    <div>{{ tache.description }}</div>
                                    <div>{{ tache.datefin | date('d/m/Y') }}</div>
                                    <div class="mx-auto">
                                        <a href="{{ path('tache_move', {'projet': projet.id, 'tache': tache.id}) }}" class="col-md-6 left">
                                            Swich row</a>
                                        <a href="{{ path('tache_edit', {'id': projet.id, 'tableau': tableau.id, 'tache': tache.id}) }}" class="col-md-6 right">
                                            Edit</a>
                                        {{ include('taches/_delete_form.html.twig') }}
                                    </div>

                                </div>

                            {% endfor %}
                        </div>
                    </div>

                    <a href="{{ path('tache_new', {'id': projet.id, 'tableau': tableau.id}) }}"> Add</a>
                    <a href="{{ path('tableau_edit', {'id': tableau.id}) }}">Edit</a>

                </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('projet_index') }}">Back to list</a>
    <a>~</a>
    <a href="{{ path('tableau_new') }}">New Row</a>

{% endblock %}
