.title-index-projet{
  text-align: center;
}
.projet-tab{
  margin-top: 20px;
  height: 150px;
  text-align: center;
  vertical-align: center;
  background-color: #F8F9FA;
  a{
    color: black;
    & :focus{
      text-underline: none;
    }
    text-decoration: none;
  }
}
projet-tab{

}
.membres{
  margin-top: 20px;

}
.projet-nom{
  &:hover{
    text-decoration: underline;
  }
  &:focus{
    text-decoration: underline;
  }
  font-weight: bold;
  font-size: x-large;
}
