@import "header";
@import "body";
@import "footer";

body{

}

.addnew{

  text-align: center;
}
.edit-image{
 height: 20px;
  width: 100%;
}
.clear-image{
 height: 20px;
  width: 100%;
}
.addnew-image{
  height: 200px;
  width: 100%;
}
.tableau-name{
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
a{
	  color: blue;
}
.btn{
	color: blue;
}