{% extends 'base.html.twig' %}

{% block title %}Edit Tache{% endblock %}
{% block body %}
    <h1>Add task</h1>

    {{ include('taches/_form.html.twig', {'button_label': 'Add'}) }}

    <a href="{{ path('tableau_index') }}">Back to list</a>

{% endblock %}
