{% extends 'base.html.twig' %}

{% block title %}Edit Tache{% endblock %}

{% block body %}
    <h1>Edit Tache</h1>

    {{ include('taches/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('tableau_index') }}">Back to list</a>

{% endblock %}
