{% extends 'base.html.twig' %}

{% block title %}Tableau index{% endblock %}

{% block body %}
    <h1>Task List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td>{{ tache.id }}</td>
                <td>{{ tache.name }}</td>
                <td>{{ tache.datefin | date('d/m/Y') }}</td>
                
                <td>
                    <a href="{{ path('tache_edit', {'id': tache.tableau.projet.id , 'tableau': tache.tableau.id ,'tache': tache.id }) }}">Edit</a>
                    {{ include('taches/_delete_form.html.twig') }}
                </td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    
    <a href="{{ path('tableau_new') }}">Create new</a>
{% endblock %}
