{% extends 'base.html.twig' %}

{% block title %}Edit Tableau{% endblock %}

{% block body %}
    <h1>Edit Tableau</h1>

    {{ include('tableau/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tableau_index') }}">Back to list</a>

    {{ include('tableau/_delete_form.html.twig') }}
{% endblock %}
