{% extends 'base.html.twig' %}

{% block title %}Tableau index{% endblock %}

{% block body %}
    <h1>Tableau index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Taches</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tableau in tableaus %}
            <tr>
                <td>{{ tableau.id }}</td>
                <td>{{ tableau.name }}</td>
                <td>{% for tache in tableau.taches %}{{ tache.name }}{% endfor %}</td>
                <td>
                    <a href="{{ path('tableau_edit', {'id': tableau.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tableau_new') }}">Create new</a>
{% endblock %}
