{% extends 'base.html.twig' %}

{% block title %}Tab{% endblock %}

{% block body %}
    <h1>Tableau</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tableau.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tableau.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tableau_index') }}">Back to list</a>

    <a href="{{ path('tableau_edit', {'id': tableau.id}) }}">Edit</a>

    {{ include('tableau/_delete_form.html.twig') }}
{% endblock %}
